<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://blogpicture.dreamleilei.com/qq_link" target="_blank" title="磊磊的QQ">QQ</a></li>
      <li><a href="https://github.com/dreamleilei" target="_blank" title="dreajay github">github</a></li>
      <li><a href="http://blogpicture.dreamleilei.com/weixin_link.png" target="_blank" title="磊磊的微信">微信</a></li>
    </ul>
</div>
